
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:wght@400;500;700&family=EB+Garamond:wght@400;500;600;700;800&family=Kufam:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;900&display=swap';

@font-face {
    font-family: 'Didone';
    src:    url('../fonts/didone-light.otf') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Didone';
    src:    url('../fonts/didone-medium.otf') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Didone Wide Medum';
    src:    url('../fonts/didone-wide-medium.otf') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Didone Compack Dark';
    src:    url('../fonts/didone-compack-dark.otf') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Didone right';
    src:    url('../fonts/PP-Right-Didone-Medium.otf') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Swissra-Thin';
    src:    url('../fonts/swissra/Swissra-Thin.otf') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Swissra-Normal';
    src:    url('../fonts/swissra/Swissra-Normal.otf') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Swissra-Medium';
    src:    url('../fonts/swissra/Swissra-Medium.otf') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

// font family
$font-family: (
    'ff': (
        'body': "'Swissra-Normal', sans-serif",
        'heading': "'Swissra-Normal', sans-serif",
        'p': "'Swissra-Normal', sans-serif",
        'dmsans': "'Swissra-Normal', sans-serif",
        'didone': "'Swissra-Normal', sans-serif",
        'didoneWideMedium': "'Swissra-Medium Wide Medum', serif",
        'didoneCompackDark': "'Didone Compack Dark', serif",
        'didoneright': "'Swissra-Normal', serif",
        'garamond': "'Swissra-Normal', serif",
        'kufam': "'Swissra-Normal', sans-serif",
        'abril': "'Swissra-Normal', cursive",
        'poppins': "'Swissra-Normal', sans-serif",
        'playfair': "'Swissra-Normal', sans-serif",
        'fontawesome': '"Font Awesome 6 Pro"',
    )
);

// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 16px,
    )
);


